### Загрузка данных

In [1]:
import pandas as pd

#### 1 Загрузка файла CSV

In [2]:
# Создать URL-адрес
url = 'https://api.slingacademy.com/v1/sample-data/files/student-scores.csv'

In [ ]:
# Загрузить набор данных 
dataframe = pd.read_csv(url)

In [ ]:
dataframe

In [ ]:
# Взглянуть на первые пять строк
dataframe.head()

In [ ]:
dataframe.head(10)

In [8]:
dataframe.tail()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

Функция read_csv имеет более 30 параметров, и поэтому документация способна обескуражить. К счастью, эти параметры существуют в основном для того, чтобы дать возможность обрабатывать широкий спектр форматов CSV. Например, в файлах CSV значения разделены запятыми; однако в файлах CSV в качестве разделителей часто используются другие символы, например символ табуляции. Параметр sep библиотеки pandas позволяет задавать используемый в файле разделитель. Хотя это бывает нечасто, проблема форматирования файлов CSV заключается в том, что первая строка файла используется для определения заголовков столбцов (например, integer, datetime, category, как в нашем решении). Параметр header позволяет указывать, существует ли строка заголовка и где она находится. Если строка заголовка не существует, то устанавливаем header=None.

In [9]:
dataframe.sample(10)

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
679,680,Jeffrey,Price,jeffrey.price.680@gslingacademy.com,male,False,2,False,4,Designer,80,65,96,73,84,92,73
652,653,Philip,Walker,philip.walker.653@gslingacademy.com,male,False,5,False,27,Lawyer,84,86,90,80,72,99,85
1047,1048,Michael,Anderson,michael.anderson.1048@gslingacademy.com,male,True,3,False,7,Government Officer,87,86,73,88,98,71,85
75,76,Andrea,Case,andrea.case.76@gslingacademy.com,female,False,7,True,27,Software Engineer,99,90,96,92,100,98,77
421,422,Sandra,Jacobs,sandra.jacobs.422@gslingacademy.com,female,False,1,False,3,Designer,91,62,75,60,82,91,96
675,676,Hannah,Garcia,hannah.garcia.676@gslingacademy.com,female,True,2,False,14,Software Engineer,97,74,76,72,62,69,90
380,381,Tabitha,Hudson,tabitha.hudson.381@gslingacademy.com,female,False,2,True,32,Stock Investor,75,83,85,65,76,94,60
493,494,Steven,Pennington,steven.pennington.494@gslingacademy.com,male,False,4,False,46,Doctor,92,98,99,86,100,86,87
807,808,Anthony,Gomez,anthony.gomez.808@gslingacademy.com,male,False,2,False,23,Unknown,99,98,70,73,63,62,88
1621,1622,Victoria,Perez,victoria.perez.1622@gslingacademy.com,female,False,7,False,1,Business Owner,88,96,74,90,82,70,83

#### 2 Загрузка файла Excel

In [9]:
# Загрузить данные
dataframe = pd.read_excel('UFO_sightings_complete.xlsx')

In [10]:
dataframe.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

#### 3 Загрузка файла JSON

In [11]:
# Загрузить данные
df = pd.read_json('Gett.json', orient='columns')

In [12]:
df.head()

   info                                               refs  refs_quant
0   NaN  [Минтранс предлагает новую версию законопроект...         135
1   NaN  [По информации «РИА Новости», агрегатор такси ...         135
2   NaN  [Как сообщает издание Wired, с 1 марта 2022 го...         135
3   NaN  [Китайский агрегатор такси DiDi уйдет с россий...         135
4   NaN  [По информации издания «Известия», антимонопол...         135

In [18]:
df.to_csv('data.csv')

In [19]:
json_data = df.to_json()

In [20]:
json_data

'{"2017\\u00a0Rank":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10},"city":{"0":"Los Angeles \\u2020","1":"San Diego \\u2020","2":"San Jose \\u2020","3":"San Francisco \\u2020","4":"Seattle \\u2020","5":"Portland \\u2020","6":"Fresno \\u2020","7":"Sacramento \\u2020","8":"Long Beach","9":"Oakland \\u2020"},"state":{"0":"California","1":"California","2":"California","3":"California","4":"Washington","5":"Oregon","6":"California","7":"California","8":"California","9":"California"},"County \\/ borough":{"0":"Los Angeles","1":"San Diego","2":"Santa Clara","3":"San Francisco","4":"King","5":"Multnomah","6":"Fresno","7":"Sacramento","8":"Los Angeles","9":"Alameda"},"Population (2017\\u00a0est.)[4]":{"0":3999759,"1":1419516,"2":1035317,"3":884363,"4":724745,"5":647805,"6":527438,"7":501901,"8":469450,"9":425195},"Metro":{"0":"13131431","1":"3317749","2":"1998463","3":"4727357","4":"3733580","5":"2389228","6":"972297","7":"2149127","8":"13131431","9":"\\u2014"},"Notes":{"0":"Largest city in California","1":null,"2":"Located within the San Francisco Bay Area","3":null,"4":"Largest city in Washington","5":"Largest city in Oregon","6":null,"7":null,"8":"Located within the Los Angeles metropolitan area","9":"Located within the San Francisco Bay Area"}}'